CREATE DATABASE [DBUtilities]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBUtilities', FILENAME = N'U:\DBUtilities.mdf' , SIZE = 10240000KB , FILEGROWTH = 1024000KB )
 LOG ON 
( NAME = N'DBUtilities_log', FILENAME = N'U:\DBUtilities_log.ldf' , SIZE = 5120000KB , FILEGROWTH = 512000KB )
GO
USE [DBUtilities]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [DBUtilities] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
